@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Jolly+Lodger&family=Leckerli+One&family=Poppins:wght@400;500;700&family=Rajdhani:wght@400;600&family=Roboto:wght@100;300;500;700&family=Rock+Salt&family=Satisfy&family=Staatliches&family=Underdog&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: o;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1e1e24;
    
}

:root {
    --main-color: aqua;
}


.header-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1e1e24;
    padding: 1rem 4rem;
    border: 1px solid #1e1e24;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

#link-cv {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

#link-cv:hover{
    color: hotpink;
}

#link-cv:active{
    color: aqua;
}

a:hover {
    background-color: #ffffff;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #1e1e24;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    margin-right: 3vw;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0; 
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1e1e24;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #ffffff;

}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
} 

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
    background-color: rgb(0, 199, 199);
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card-container a {
    text-decoration: none;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    filter: grayscale(0.5);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    color: black;

}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109); 
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 2px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.container-data-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-data-img img {
    margin-left: 25vw;
    width: 30vw;
}

.perfil-img {
    margin-top: 10vh;
    margin-left: 10vw;
}

.perfil-img img {
    width: 25vw;
    border: 10px solid rgb(0, 150,150);
    border-radius: 10px;

}

#div-cv{
    margin-top: 2vh;
}

#cv {
    background-color: aqua;
    width: 13vw;
    height: 6vh;
    margin-top: 3vh;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;

}

#cv:hover{
    background-color: rgb(3, 187, 187);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
}

#cv:active{
    background-color: aqua;
}

#cv a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    
}

header {
    background-color: var(--main-color);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header-projects {
    color: black;
}

.header-projects a {
    margin-right: 85vw;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    background-color: rgb(0, 150,150);
    padding: 1rem;
    
}


.header-projects a:hover{
    color: white;
    cursor: pointer;
}

.main-about{
    min-height: 69.8vh;
    background-color: white;
    margin-top: -2vh;
}

.text-about {
    width: 60vw;
    margin: 0 auto;
}

.main-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    min-height: 85vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 5vh 0 5vh 0;
}

.main-projects h3, p{
    text-align: center;
}

.main-projects a {
    text-decoration: none;
    color: #d86c8f;
}

.main-projects img {
    width: 12vw;    
}

.card-bs {
    background-color: #fff;
    padding: 1vw;
    border-radius: 15px;
    border: 2px solid hotpink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.card-bs img {
    width: 100%;
}

.image{
    width: 20vw;
    height: 14vh;
    background-color: hotpink;
}

#btn-languages{
    background-color: rgb(0, 150,150);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin: .6vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#btn-languages:hover{
    opacity: .8;
    cursor: pointer;

}

#btn-languages:active{
    opacity: .5;
}

#logo-whatsapp{
    width: 5vw;
    right: 3vw;
    top: 82vh;
    position: fixed;
    margin: 0;
}

.footer {
    width: 100%;
    height: 100px;
    /* background-image: radial-gradient(circle at -14.09% 20.12%, #ffb790 0, #ffac96 8.33%, #ffa19b 16.67%, #ff949d 25%, #ff879c 33.33%, #f67a97 41.67%, #d86c8f 50%, #ba5f85 58.33%, #a0547b 66.67%, #894b72 75%, #75446a 83.33%, #653e64 91.67%, #583b5f 100%); */
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1e1e24;
}

.footer p:nth-child(1){
    font-size: 2vh;
}

@media (max-width: 1300px){
    .container-data-img{
        flex-direction: column;
        width: 80vw;
    }

    .container-data-img img {
        width: 30vw;
        margin-right: 30vw;
    }

    .social-media, .container-data-img h1,h2{
        margin-left: 3vw;
    }

    .header-projects a{
        margin-right: 70vw;
    }

    #logo-whatsapp {
        width: 10vw;
    }
}

@media (max-width: 760px){
    .social-media, .container-data-img h1,h2{
        margin-right: 3vw;
    }

    .header-projects div a{
        background-color: hotpink;
        display: none;
    }

    .container-data-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -8vw;
    }

    .container-data-img img{
        width: 50vw;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-bs {
        width: 90%;
    }

    .card-text p {
        margin-top: 5vh;
    }

    #logo-whatsapp {
        width: 12vw;
    }
}